<main>
    <section id="connexion_section">
    
        <div class="box_connexion">
            <h1>Inscription :</h1>
            <div class="form_zone">
    
                <form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
                    <label for="email">
                        E-mail :
                        <input type="text" id="email" formControlName="email">
                    </label>
                    <label for="password">
                        Mot-de-passe :
                        <input type="password" id="password" formControlName="password">
                    </label>

                    <button type="submit" [disabled]="inscriptionForm.invalid">S'inscrire</button>
                </form>

                <p class="error_message">{{ errorMessage }}</p>
                
            </div>
        </div>
    
    </section>
</main>
