.my_watchlist_section {
    padding: 0px 2vw;
}

.page_title {
    margin: 50px 20px;
    font-size: 2em;
}

.watchlist_list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}