main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#connexion_section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_connexion {
    width: 500px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F8D202;
    border-radius: 0.340rem;
}

h1 {
    margin: 20px;
    color: #4C4637;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 50px;
}

input {
    height: 30px;
    padding-left: 10px;
    border: none;
    border-radius: 0.340em;
    margin: 10px;
}

button[type='submit'] {
    width: 130px;
    height: 30px;
    align-self: center;
    border: none;
    border-radius: 0.340em;
}

button[type='submit']:hover {
    background-color: #B2AB99;
    color: #FFFEF7;
    cursor: pointer;
}