<main>
    <section id="connexion_section">
    
        <div class="box_connexion">
            <h1>Connexion :</h1>
            <div class="form_zone">
    
                <form [formGroup]="connexionForm" (ngSubmit)="onSubmit()">
                    <input type="text" id="email" formControlName="email" placeholder="E-mail">
                    <input type="password" id="password" formControlName="password" placeholder="Mot-de-passe">

                    <button type="submit" [disabled]="connexionForm.invalid">Se connecter</button>
                </form>

                <p class="error_message">{{ errorMessage }}</p>
                
            </div>
        </div>
    
    </section>
</main>
